

export TF_VAR_ARM_SUBSCRIPTION_ID=var.ARM_SUBSCRIPTION_ID
#export TF_VAR_ARM_SUBSCRIPTION_ID="974668b8-821d-4cc2-a84d-c81a7733f464"
export TF_VAR_ARM_CLIENT_ID="f0a5d79c-4832-48f9-b6e7-5d46968bb283"  
export TF_VAR_ARM_CLIENT_SECRET="e549ac29-a0d8-48ce-8d4f-b668b2d661a9"
export TF_VAR_ARM_TENANT_ID="c8fedfb4-d804-457b-9745-362581de2e4c"